<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Gestión de Tareas"
        android:theme="@style/Theme.AppTareas">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity android:name=".NuevaTareaActivity" android:exported="false" />
        <activity android:name=".HistorialActivity" android:exported="false" />
        <activity android:name=".AjustesActivity" android:exported="false" />

    </application>
</manifest>
